body {
    background-image: linear-gradient(to right,#8E0E00, #1F1C18);
    font-family: 'Courier New', Courier, monospace;

}




.container {
    border: 1px solid black;
    border-radius: 20px;
    background-color: wheat;
    
    height: 525px;
    width: 360px;
    margin: 100px auto;

    /*=========================*/
    box-shadow: 5px 10px white;

    /* Text Central */
    text-align: center;
}




h1 {
    background-color: #1F030C;
    color: white;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;

    /*============================= */
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;

}

#NumPeople, #TipOption {
    height: 25px;
    text-align: center;
}


#btnCalculate {
    background-color: red;
    height: 40px;
    width: 120px;
    color: white;

    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}



